.active-link {
    background: #534bae38 !important;
    color: #534bae;
    outline: none;
}

.sidenav-width {
    min-width: 9em;
}

button {
    outline: none; // this one
}

mat-list-item {
    outline: none;
}