<!-- Tiles -->
<div class="container" style="margin-top: 6em">
    <div class="row mb-2">
        <div class="col-sm-12 mb-2">
            <button mat-mini-fab color="accent" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h5>Particular User Data</h5>
            <table class="table table-bordered table-info">
                <thead>
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Title</th>
                      <th scope="col">Body</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of data;let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{item.title}}</td>
                      <td>
                            {{item.body}}
                        </td>
                  </tbody>
              </table>
        </div>
    </div>
</div>